<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let item of news">
      <ion-card-header>
        <ion-card-title>{{ item.judul }}</ion-card-title>
        <ion-img [src]="item.url_gambar"></ion-img>
      </ion-card-header>
      <ion-card-content>{{ item.deskripsi }}</ion-card-content>
      <ion-row>
        <ion-chip>
          <ion-icon name=""></ion-icon>
        </ion-chip>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
